html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	/* outline: 1px solid violet; */
}

@font-face {
	font-family: "Roboto", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
}
