/* %%%%%%%%%%%%%%%%%%%%%%%%% pages/_app.js  %%%%%%%%%%%%%%%%%%%%%%%%% */

.container_padding {
	padding: 0;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%% components/NavBar.js  %%%%%%%%%%%%%%%%%%%%%%%%% */

.navbar_background_color {
	background-color: rgb(255, 193, 7, 75%);
}

.main_background {
	background: center / cover no-repeat url("./../public/coins.jpg");
	height: 100vh;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%% pages/index.js and register/index.js %%%%%%%%%%%%%%%%%%%%%%%%% */

.login_register_box {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.title_design {
	color: darkslategray;
	text-align: center;
	margin: 0;
}

.phrase {
	color: darkslategray;
	text-align: center;
}

.login_register_box > form {
	max-width: 31.25rem;
	width: 100%;
	background-color: rgb(255, 255, 255, 50%);
	padding: 3.125rem;
	border-radius: 1.563rem;
}

.input_design {
	width: 100%;
	background-color: rgb(255, 255, 255, 75%);
	border-radius: 1.563rem;
	height: 2.813rem;
	padding: 0.375rem 1.25rem;
}

.button {
	border-radius: 1.563rem;
	width: 100%;
	height: 2.813rem;
}

.google_button {
	display: flex;
	justify-content: center;
	border-radius: 1.563rem;
	width: 100%;
	margin-top: 1.563rem;
}

.to_login_register {
	margin: 0.938rem 0 0 0;
	color: darkslategray;
	text-align: center;
}

.login_register_link {
	color: #0d6efd;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%% records/index.js %%%%%%%%%%%%%%%%%%%%%%%%% */

.top_bottom_padding {
	padding: 3.125rem;
}

.center {
	display: flex;
	justify-content: center;
}

.max_width {
	max-width: 750px;
	width: 100%;
}

.bottom_padding {
	padding-bottom: 1.563rem;
}
